---
Language: Cpp
Standard: Cpp17
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
NamespaceIndentation: All
ColumnLimit: 240
MaxEmptyLinesToKeep: 1
IndentWidth: 4
TabWidth: 4
UseTab: Always
PointerAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
---
